# Frontend API base URL
# Copy this to .env.render and .env.aws and set the appropriate backend URL for each environment
VITE_API_BASE_URL=http://localhost:5000

VITE_FIREBASE_API_KEY=YOUR_API_KEY
VITE_FIREBASE_AUTH_DOMAIN=portfolio-tracker-sushengrover.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=portfolio-tracker-sushengrover
VITE_FIREBASE_STORAGE_BUCKET=portfolio-tracker-sushengrover.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=740173718253
VITE_FIREBASE_APP_ID=YOUR_APP_ID